body{background: #fcfcfc; padding: 0 15px; margin: 0; color: #333; font-weight: 300; font-size: 0.875em;}
/*html{font: 300 1em 'Open Sans', serif; line-height: 1.2;}*/
pre{font-size: 1em !important; padding: 10px; background: #FBF0F0; font-family: 'Source Code Pro', serif;}
img{max-width: 100% !important;}